/* display hidden for js */
.pizzaSelector{
  display: none;
}
.result{
  display: none;
}
#pizzaDetails{
  display: none;
}
/* styling */
body{
  margin-left: 23%;
  margin-right: 23%;
  text-align: center;
}

.header{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 4%;
  background-image: linear-gradient(#ffed2d, #e2a412);
}
.pizzaSelector{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 4%;
  background-image: linear-gradient(#ffed2d, #e2a412);
}
.result{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 4%;
  background-image: linear-gradient(#ffed2d, #e2a412);
}
#pizzaDetails{
  padding-bottom: 2%;
  border-radius: 20px;
  background-image: linear-gradient(#d1320e, #93320e);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
  text-decoration: none;
}
